body {
	background: #f1f1f2;
	font-family: "Dosis", sans-serif;
	height: 100%;
	width: 100%;
}

.navbar {
	background-color: #2e3131;
}

.navbar-header>.navbar-brand {
	color: #f1f1f2;
}

footer {
	padding-bottom: 100px;
}

/*
Styling for detail.html
 */
#movie-picture{
	width: 100%;
	text-align: center;
}

#movie-add{
	text-align: center;
	margin-top: 10px;
}

.movie-info{
	color: white;
	text-align: center;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 20%;
	margin-top: 0;
	margin-bottom: 0;
	background-color: rgba(0,0,0,0.75);
}
