body{
	background-color: black;
}
#login-button {
	margin-top: 25%;
	margin-left: 40%;
	background-color: black;
	border: none;
	color: white;
	font-size: 17px;
}

#baitFooter{
	font-size: 10px;
	color: white;
	margin-top: 20%;
	margin-left: 75%;
}

#hehe{
	background-color:black;
	font: bold;
}

#posts{
	font-size: 40px;
	color: white;
}

#masuk{
	margin-left: 75%;
	background-color: black;
	border: none;
	color: white:
}

.fb-profile img.fb-image-lg{
	z-index: 0;
	width: 100%; 
	height: 400px;
	margin-bottom: 10px;
}

.fb-image-profile
{
	margin: -90px 10px 0px 50px;
	z-index: 9;
	background-color: black;
	width: 20%; 
}

.fb-profile-text>h1{
	font-weight: 700;
	font-size:36px;
	color:white;
}

.fb-profile-text>p{
	font-weight: 700;
	font-size: 12px;
	color: white;
}
@media (max-width:768px)
{
	
.fb-profile-text>h1{
	font-weight: 700;
	font-size:16px;
	color:white;
}

.fb-profile-text>p{
	font-weight: 700;
	font-size: 12px;
	color: white;
}
.fb-image-profile
{
	margin: -45px 10px 0px 25px;
	z-index: 9;
	width: 20%; 
}
}

.postStatus{
	background-color: black;
	border: none;
	color: white;
}
.logout{
	background-color: black;
	border: none;
	color: white;
}

.feed{
	width: 100%;
	border-style: solid;
	border-color: white;
}
.feed p{
	color: white;
	font-size: 14px;
}
