{% extends "lab_4/layout/base.html" %}

{% block content %}
    
    <h1> Welcome to the hidden page of ThisIsEscape.com owner. </h1>
    <h2>Portofolio</h2>
    <img class="img-circle" src="https://images.8tracks.com/cover/i/009/677/418/Sawada.Tsunayoshi.full.1023723-7467.jpg?rect=0,58,651,651&q=98&fm=jpg&fit=max&w=320&h=320" height = "200"width="200">
    <hr/>
    
    <p> What do you wanna say to me? *smirk</p>
    <section name="bio">
        <h2>Bio</h2>
        <p>
            {{content}}
        </p>    
    </section>
    <hr/>
    <section name="about_me">
        <h2>List</h2>
        <ul>
            {% for ii in about_me %}
            <li> {{ ii }} </li>
            {% endfor %}
        </ul>
    </section>
    <hr/>
	<section name="form">
        <h2>Send Message</h2>
        <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
            {% csrf_token %}
            {{ message_form }}
            <br>
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </section>

{% endblock %}
