{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-10 col-md-offset-1" id="main-detail">
		<div class="col-md-4">
			<img src="{{ movie.poster }}" class="img-responsive" id="movie-picture">
			<div class="col-md-12" id="movie-add">
				{% if added %}
					<button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Added to Watch Later</button>
					{% if watched %}
						<button class="btn btn-success"><span class="glyphicon glyphicon-ok"></span> Added to Watched Movie</button>
					{% else %}
						<a href="{% url 'lab-10:add_watched_movie' id %}" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span> Add to Watched Movie</a>
					{% endif %}
				{% else %}
					<a href="{% url 'lab-10:add_watch_later' id %}" class="btn btn-warning"><span class="glyphicon glyphicon-plus"></span> Add to Watch Later</a>
				{% endif%}
			</div>
		</div>
		<div class="col-md-8" id="movie-info">
			<h1 id="movie-title">{{ movie.title }}</h1>
			<p id="movie-plot">"{{ movie.plot }}"</p>
			<div class="row col-md-12" id="movie-rating">
				<p>Metascore <span class="label label-default">{{ movie.metascore }}</span>
					{% for mv in movie.ratings %}
						{{ mv.Source}} <span class="label label-default">{{ mv.Value }}</span>
					{% endfor %}
				</p>
			</div>
			<div class="table-responsive">
				<table class="table" id="movie-detail">
					<tbody>
						<tr>
							<td>Country (Language)</td>
							<td>{{ movie.country }} ({{ movie.language }})  </td>
						</tr>
						<tr>
							<td>Released date</td>
							<td>{{ movie.released }}</td>
						</tr>
						<tr>
							<td>Runtime</td>
							<td>{{ movie.runtime }}</td>
						</tr>
						<tr>
							<td>Genre</td>
							<td>{{ movie.genre }}</td>
						</tr>
						<tr>
							<td>Director(s)</td>
							<td>{{ movie.director }}</td>
						</tr>
						<tr>
							<td>Writer(s)</td>
							<td>{{ movie.writer }}</td>
						</tr>
						<tr>
							<td>Actor(s)</td>
							<td>{{ movie.actors }}</td>
						</tr>
						<tr>
							<td>Website</td>
							<td><a id="movie-website">{{ movie.website }}</a></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<br>
</div>
{% endblock %}
