{% extends "lab_10/layout/base.html" %}

{% block content %}
<div class="row">
	<div class="col-md-10 col-md-offset-1">
		<h1>Watch Later Movies</h1>
		<table id="movie-watch-later">
			<tbody>
				{% for movie in watch_later_movies %}
					<tr>
						<a href="/lab-10/movie/detail/{{ movie.imdbid }}/">
							<h3 class="movie-info">{{ movie.title }}</h3>
						</a>
					</tr>
				{% endfor %}

			</tbody>
		</table>

	</div>

</div>
{% endblock %}
