{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="description" content="LAB 10">
	<meta name="author" content="{{author}}">

	<!-- bootstrap csss -->
	<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
	<style>
		.rata-tengah {
			text-align: center;
			margin : 20px;
		}
		.judul {
			text-transform:uppercase;
			margin-bottom: 50px;
			margin-top: 50px;
		}
	</style>
	<title>
		{% block title %} Lab 10 {% endblock %}
	</title>
</head>
<body>
<content>
	{% block content %}
	<!-- Your Content Here -->
	{% endblock %}
</content>
<footer>
	<hr>
	{% block footer %}

	<h1 style="text-align:center">
		<small><em> Made by Alex </em></small>
	</h1>
	<!-- Your Footer Here -->
	{% endblock %}
</footer>

<!-- Jquery n Bootstrap Script -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script type="application/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
</body>
</html>
