{% extends "lab_7/layout/base.html" %}

{% block content %}
	<section name="friend-list">
		<div class="container">
			<div class="row">
				<div class="col-md-8 col-lg-8">
					<h2> Teman Fasilkom</h2>
					<div id="friend-list" class="list-group">

					</div>
				</div>
			</div>
		</div>
	</section>
{% endblock %}
{% block javascript %}
	<script>

		var deleteFriend = function(id) {
			$.ajax({
				method: "POST",
				url:'{% url "lab-7:delete-friend" %}',
				data: {
					id: id
				},
				success: function(data) {
					$('#friend-' + id).remove();
				},
				error: function(error) {
					alert("Terdapat kesalahan pada server, mohon mencoba beberapa saat lagi");
				}
			});
		};

		$( document ).ready(function () {
			$.ajax({
				method: "GET",
				url:'{% url "lab-7:get-friend-list" %}',
				success: function (response) {
					friends = $.parseJSON(response);
					for (var i=0;i<friends.length;i++)
					{
						friend = friends[i];
						$('#friend-list').append(
							'<a class="list-group-item clearfix" id="friend-' + friend.id + '">' +
								friend.friend_name + " (" + friend.npm + ")" +
								'<span class="pull-right">' +
									'<span class="btn btn-xs btn-default" onClick="deleteFriend(' + friend.id + ')">' +
										'Hapus teman' +
									'</span>' +
								'</span>' +
							'</a>'
						);
					}
				},
				error: function(error){
					alert("Terdapat kesalahan pada server, mohon coba beberapa saat lagi.");
				}
			});
		});
	</script>
{% endblock %}
